* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 10px;
    display: block;
    outline: none;
}